<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
   <context:annotation-config></context:annotation-config>
    <context:component-scan base-package="com.dao"/>
    <context:component-scan base-package="com.tool"/>
    <context:component-scan base-package="com.msg.webSocket"/>
    <context:component-scan base-package="com.msg.loogPullling"/>
    <context:component-scan base-package="com.test"/>
    <context:component-scan base-package="com.action"/>
    <bean class="com.tools.SpringTool"/>
    <bean id="gson" class="com.google.gson.Gson"></bean>
</beans>